{% extends "auction/layout.html" %} 

{% block title %} {{ listing.title }} - AuctionHub {%endblock title %} 

{% block content %}
{% if messages %}
  {% include "auction/utils/messages_snipet.html" %}
{% endif %}

<div id="item" class="bg-gray-100 " x-data="{ showBidForm: false }">
  <div class="container mx-auto p-4 max-w-4xl">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <div class="bg-blue-600 text-white py-4 px-6">
        <h1 class="text-3xl font-bold">{{ listing.title }}</h1>
        <p class="text-blue-200 mt-2">Listed by {{ listing.seller }}</p>
        {% if user == listing.seller %}
        
        <div class="flex justify-end">
          {% if listing.is_active %}
            {% include "auction/snippets/close_bid.html" %}
          {% else %}
            {% include "auction/snippets/open_bid.html" %}
          {% endif %}
        </div>
        {% endif %}
      </div>

      <div class="p-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div>
            <img
              src="{{ listing.image.url }}"
              alt="{{ listing.title }}"
              class="w-full rounded-lg shadow-md"
            />
          </div>
          <div class="space-y-4">
            <div>
              <h2 class="text-2xl font-semibold text-gray-800">
                Current Bid: ${{ listing.current_price }}
              </h2>
              <p class="text-gray-600">{{ listing.bids.count }} bids</p>
            </div>
            <div>
              <p class="text-gray-700">
                <strong>Time Left:</strong> {{ listing.time_left }}
              </p>
              <p class="text-gray-700">
                <strong>End Date:</strong> {{ listing.end_date }}
              </p>
            </div>
            {% if user.is_authenticated and listing.is_active %}
            <button
              @click="showBidForm = !showBidForm; if(showBidForm) $nextTick(() => $refs.bidInput.focus())"
       
              class="bg-green-500 hover:bg-green-600 text-white font-bold py-2
              px-4 rounded transition duration-300 ease-in-out transform
              hover:scale-105 focus:outline-none focus:ring-2
              focus:ring-green-500 focus:ring-opacity-50" > Place Bid
            </button>
            <div x-show="showBidForm" class="mt-4">
              <form class="space-y-4" method="post" action="{% url 'place_bid' listing.pk %}">
              {% csrf_token %}
                <div>
                  <label
                    for="bid_amount"
                    class="block text-sm font-medium text-gray-700"
                    >Your Bid</label
                  >
                  <input
                    x-ref="bidInput"
                    type="number"
                    id="bid_amount"
                    name="bid_amount"
                    step="0.01"
                    min="{{ listing.current_bid }}"
                    class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                  />
                </div>
                <button
                  type="submit"
                  class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out"
                >
                  Submit Bid
                </button>
              </form>
            </div>
                {% include "auction/snippets/watchlist_button.html" %}
            {% elif not user.is_authenticated %}
              <button>
              <a href="{% url 'account_login' %}?next={{ request.path }}" 
                 class="btn bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4  rounded transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50">
                 Need to login to bid
              </a>  
              </button>          
            
            {% elif not listing.is_active %}

            <div class="btn bg-orange-500 text-white font-bold py-2 px-4">
               <p class= "flex justify-center">Esta puja está cerrada</p>
               {% if listing.winner.username == user.username %}
               <p class="flex items-center justify-center text-lg py-2"><span class="text-2xl mr-2">Felicidades</span> has ganado esta puja!</p>
               {% else %}
               <p class="flex justify-center text-lg">{{ listing.winner.username|title }} ha ganado esta puja!</p>
               {% endif %}
            </div> 
            {% endif %}
          </div>
        </div>

        <div class="mt-8">
          <h3 class="text-xl font-semibold text-gray-800 mb-4">
            Item Description
          </h3>
          <p class="text-gray-700">{{ listing.description }}</p>
          <p class="text-sm text-gray-500 py-3" >
            Categoria: 
            <a href="{% url 'categories' listing.category %}" class="text-blue-500 hover:text-blue-700">
              {{ listing.category|title }}
            </a>
          </p>
        </div>
      </div>
    {% if user.is_authenticated %}  
      <div class="container mx-auto p-4 max-w-4xl flex items-center justify-center">
        <a href="{% url 'watchlist' %}"
          class="bg-blue-600 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50"
          ><span class="text-2xl">Ver artículos en seguimiento</span>
        </a>
      </div>
    {% endif %}
    </div>
  </div>
  {% if user.is_authenticated %}
    {% include "auction/snippets/add_comment.html" %}
  {% endif %}
</div>
<div id="comments">
  {% for comment in comments %}
    {% include "auction/snippets/comments.html" %}
  {% endfor %}
</div>


{% endblock content %}
