
<form id="my-form" action="{% url 'search' %}" method="get" class="flex items-center"
    >

    <label for="search" class="block text-sm font-medium leading-6 text-gray-900"></label>
    <input id="search" type="search" placeholder="Search" name="search"
        class="bg-gray-100 border border-gray-300 text-gray-700 rounded-full py-2 px-4 leading-tight w-full focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent transition duration-200 ease-in-out"
    
        
        
    />
    <button class="bg-white p-2 rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-200 ease-in-out">
        <i class="fas fa-search"></i>
    </button>

</form>